<!-- ./ios-settings/Root.plist -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>app_version</string>
			<key>DefaultValue</key>
			<string>undefined</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Build Number</string>
			<key>Key</key>
			<string>app_build_number</string>
			<key>DefaultValue</key>
			<string>undefined</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Developer</string>
			<key>Key</key>
			<string>app_developer</string>
			<key>DefaultValue</key>
			<string>github.com/mrchn</string>
		</dict>
	</array>
</dict>
</plist>